
# Operating System Generated
.DS_Store
GPUCache

# First-party Generated
dist
out
third-party-bin
public
coverage
workdir
build
testboards
packaging
.nyc_output

# Third-party Generated
node_modules
yarn-error.log
*.swp
*.bkp
*.drawio.dtmp
*.drawio.bkp

# Miscellaneous
gitkey
gitkey.pub
scratch.txt
