
@use '../../../styles/variables' as vars;
@use '../../../styles/mixins';

$deletion-border-thickness: 1px; // 2px also looks good. hmm...


// ==============
// Dialog Styling
// --------------

.eic-padded-row { padding: 0 20px; }
.eic-dialog-section {
    background: vars.$gray-very-dark;
    border-radius: vars.$dialog-section-radius;
    padding: 10px 0px;

    &.eic-info-section {
        color: vars.$gray4;
    }

    .highlight {
        color: vars.$gray8;
    }

    // Row styles
    .eic-header-row {
        h3 { margin: 0; padding: 0; border-bottom: 1px solid vars.$gray4; }
        color: vars.$gray4;
        text-align: left;
        margin: 15px 0;
    }
    .eic-field-row {
        padding: 5px 0;
        border: $deletion-border-thickness solid transparent; // Gets turned red when deleting
        border-radius: 10px;
    }
    .eic-add-field-row {
        padding: 5px 0;
        border: $deletion-border-thickness solid transparent; // (We don't show deletion on this row ... but this makes the "tree" line up with the rows above.
        &>* {transition: opacity 0.4s;}
        .eic-name-col {
            .mw-textbox { @include mixins.phantom-textbox; }
        }
    }
}


// =============
// Table Styling
// -------------

.deletion-highlight {
    transition: all 0.2s;
    border: $deletion-border-thickness solid vars.$red-error !important;
    background: rgba(vars.$red-error, 0.2) !important;
}
path.deletion-highlight {
    stroke: vars.$red-error !important;
    fill: rgba(vars.$red-error, 0.2) !important;
}


.eic-drag-col   { display: inline-block; width: 2.5%;  }
.eic-table-cols { display: inline-block; width: 97.5%; } // Comprised of the following 5 columns.
// The below cols should add up to 100%
.eic-name-col    { width: 30%; }
.eic-type-col    { width: 25%; }
.eic-pv-col      { width: 40%; }
.eic-delete-col  { width: 5%;  }

.eic-cell {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}

// Specific column styles
.eic-pv-notapplicable { color: vars.$gray4; padding-left: 10px; }
.eic-delete-col>*     { transition: all 0.2s; }


.eic-name-col.when-tree-is-displayed {
    display: inline-flex;
    .mw-tree {
        flex: 40px 0 0;
        margin-top: -10px;
        margin-bottom: -10px;

        line {
            stroke: vars.$gray2;
            stroke-width: 5px;
        }
    }
}