
@use '../../styles/variables' as vars;

.mw-app-relationship-block {

    .mw-block-content-section {
        margin: vars.$dialog-section-gap;
        border-radius: vars.$dialog-section-radius;
        background: vars.$gray-very-dark;
        padding: 20px 30px;

        &.in-edit-mode {
            padding: 10px;
            textarea { height: 100px; }
        }

        pre {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
        }
    }

}